[Unit]
Description=Setup OASE
# ConditionFirstBoot=yes
Wants=network-online.target
After=network-online.target
After=multi-user.target
[Service]
EnvironmentFile=/etc/sysconfig/setup
Type=oneshot
User=root
ExecStart=/bin/sh -c "bash /home/oase/oase_install_package/install_scripts/oase_installer.sh"
[Install]
WantedBy=multi-user.target